<div class="card mt-3 mx-3">
    {{#if allow_edit}}
    {{> post-line1 bgcolor="bg-success"}}
    {{else}}
    {{> post-line1 bgcolor="bg-info"}}
    {{/if}}
    <p class="card-text px-3 py-1">{{post_text}}</p>
</div>