{{> dashboard-assist}}

{{!-- <div class="card mt-3 mx-3">
    <h3 class="card-header bg-info">Your Dashboard</h3>
</div>

<ul class="list-unstyled">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>

<div class="col text-center mb-3">
    <button type="button" class="btn btn-info">+ New Post</button>
</div> --}}
